<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <Link rel="stylesheet" type="text/css" href="../static/styles.css">

    <title>Powell Peralta</title>
  </head>
  <body>

<div class="container">
<header>
  <h4 class="action">SUBSCRIBE</h4>
  <div class="social">
<i class="fab fa-facebook"></i>
<i class="fas fa-rss-square"></i>
<i class="fab fa-twitter-square"></i>
<i class="fab fa-youtube-square"></i>
  </div>
  <nav>
    <ul>
      <li> - SK8T NEWS - </li>
      <li> - SKATEBOARDERS - </li>
      <li> - BOARD DESIGN - </li>
      <li> - CONTACT US - </li>
    </ul>
  </nav>

</header>
  <div class="hero">
<img src="../static/images/top-image.png" title="top-image" alt="man with camera">
  </div>
  <div class="logo">
<img src="../static/images/peralta-logo.png" title="logo" alt="peralta logo">
<!--use banner image example concept to make overlay-->
  </div>

  
<div class="row margin">

  <div class="col-md-4 col-sm-6">
    <div class="article">
    <h2>Tony Hawk Foundation Raises Big Money At Celeb Fundraiser</h2>
    <p class="font-italic">October 10, 2013</p>
    <p>It was just over 90 degrees in Los Angeles,
    but that didn't stop the throngs from coming
      out to celebrate the 10th Annual Tony Hawk's Stand Up For
    Skateparks Benefit Presented by SLS Hotel & Casino Las Vegas
    on Saturday at hte Green Acres Estate in Beverly Hills.</p>
    <h4 class="more"> [READ MORE]</h4>
  </div>
    </div>

  <div class="col-md-4 col-sm-6">
    <div class="article">
    <h2>Rodney Mullen: Pop an ollie and innovate! (TED Talk)</h2>
    <p class="font-italic">March 10, 2013</p>
    <p>The last thing Rodney Mullen, the godfather of street skating,
    wanted were competitive victories. In this exuberant talk he shares
    his love of the open skateboarding community and how the unique
    environment it plays in drive the creation of new tricks -- fostering...</p>
    <h4 class="more"> [READ MORE]</h4>
  </div>
  </div>

<div class="col-md-4 col-sm-6">
  <div class="article">
    <h2>Ray Barbee Talks 'Ban This'</h2>
    <p class="font-italic">October 4, 2013</p>
    <p>Since filming is in full swing for the Vans video Adventures
    With Chris has taken the opportunity to sit some of the team
    down to look behind the skating of some fo their earlier parts.
    Today we sit down Ray Barbee, one of the smoothest guys to ever
    step on a skateboard and Chris' childhood idol...</p>
    <h4 class="more"> [READ MORE]</h4>
  </div>
</div>
<!--end of row-->
</div>


  <div class="row"> <!--creates row that takes up all 12 columns and contains all skaters-->

    <div class="col-md-8 col-sm-12"> <!--div takes up defined 8 columns-->
      <div class="row"> <!--row will only take the 8 columns allowed by div above-->
        <div class="col-md-6 col-sm-12">
          <div class="skater-container" id="lance">
            <img src="../static/images/sk8er-4.png">
            <h1>LANCE MOUNTAIN</h1>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="skater-container" id="rodney">
            <img src="../static/images/sk8er-3.png">
            <h1>RODNEY MULLEN</h1>
          </div>
        </div>
        <div class="col-md-12">
          <div class="skater-container " id="steve">
            <img src="../static/images/sk8er-1.png">
            <h1>STEVE CABALLERO</h1>
          </div>
        </div>
      </div> <!--closes 8 column wide row-->
    </div> <!--closes 8 column div-->
    <div class="col-md-4 col-sm-12">
      <div class="skater-container" id="tommy">
        <!--<img src="../static/images/sk8er-2.png">-->
        <h1>TOMMY GUERRERO</h1>
      </div>
    </div>
  </div> <!--closes 12 column wide row-->

<div class="row boards">
  <div class="col">
    <img src="../static/images/sk8-1.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-2.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-3.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-4.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-5.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-6.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-7.png">
  </div>
  <div class="col">
    <img src="../static/images/sk8-8.png">
  </div>
</div>

<!--
<form action="/thank-you" method="post">
  <div>

    <input type="text" id="name" name="user_name">
  </div>
  <div>
    <input type="email" id="mail" name="user_mail">
  </div>
  <div>
    <label for="msg"
  </div>

</form>
-->



<!-- end of container -->
</div>

<div class="arrow">SKATEBOARDS</div>

  </body>
</html>